

	<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Welcome - Ace Admin</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!--[if !IE]> -->

		<!-- <link rel="stylesheet" href="../../assets/css/pace.css" />
		<script data-pace-options='{ "ajax": true, "document": true, "eventLag": false, "elements": false }' src="../../components/PACE/pace.js"></script> -->

		<!-- <![endif]-->

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="{$Think.config.__PUBLIC__}/static/assets/css/bootstrap.css" />
		<link rel="stylesheet" href="{$Think.config.__PUBLIC__}/static/components/font-awesome/css/font-awesome.css" />

		<!-- text fonts -->
		<link rel="stylesheet" href="{$Think.config.__PUBLIC__}/static/assets/css/ace-fonts.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="{$Think.config.__PUBLIC__}/static/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="../../assets/css/ace-part2.css" class="ace-main-stylesheet" />
		<![endif]-->
		<link rel="stylesheet" href="{$Think.config.__PUBLIC__}/static/assets/css/ace-skins.css" />
		<link rel="stylesheet" href="{$Think.config.__PUBLIC__}/static/assets/css/ace-rtl.css" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="../../assets/css/ace-ie.css" />
		<![endif]-->

		<!-- ace settings handler -->
		<script src="{$Think.config.__PUBLIC__}/static/assets/js/ace-extra.js"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="../../components/html5shiv/dist/html5shiv.min.js"></script>
		<script src="../../components/respond/dest/respond.min.js"></script>
		<![endif]-->
	</head>