{include file="public\head" /}
{include file="public\header" /}
{include file="public\menu" /}
	

			<!-- /section:basics/sidebar -->
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
						</ul><!-- /.breadcrumb -->

						<!-- #section:basics/content.searchbox -->
						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->

						<!-- /section:basics/content.searchbox -->
					</div>
					
					
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

							  <ul id="content-tab" class="nav nav-tabs">
								<li data-name="before" style="float:left"><a ><i class="glyphicon glyphicon-backward"></i></a></li>
								
							
								<li data-name="next" style="float:right"><a ><i class="glyphicon glyphicon-forward"></i></a></li>
								<li data-name="close" style="float:right">
<div class="btn-group roll-nav roll-right">
                    <a class=" btn  btn-small  dropdown" style="border :0px; margin-top:-8px; padding-top:-2px; " data-toggle="dropdown" aria-expanded="false">关闭操作<span class="caret"></span>

                    </a>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive"><a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll"><a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther"><a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>		
		
		
		
		
		</li>
							  </ul>



						<!-- /section:basics/content.searchbox -->
						
						
					</div>
					<script>
				function closetab(obj){
							//alert('dsfs');
							var id = $(obj).parent("a").attr('href');
							$(id).detach();
							$(obj).parent("a").parent("li").detach();
							
						
						}
							
						(function ($ , undefined){
								
						$(window).resize(function(){
							initTab();	
						});				
						$(".J_tabShowActive").on("click",function(){
						
							$("li.active").show();
							$(".tab-pane .active").show();
						
						});
						$(".J_tabCloseAll").on("click",function(){
						
							$("[data-name=item]").detach();
							$("#tab_content").children().detach();
						
						});
						$(".J_tabCloseOther").on("click",function(){
						
							$("[data-name=item]").detach();
							$("#tab_content").children().detach();
						
						});	
						/*$("[data-name=closetab]").on("click",function(){
							alert('dsfs');
							//var id = $(this).parent("a").attr('href');
							//$(id).detach();
							//$(this).parent("a").parent("li").detach();
							
						
						});*/
						
						function initTab(){
							var li_list = $("#content-tab").children();
							if(li_list.length==0){return false;}
							var li_width=0;
							for(var i = 0; i<li_list.length; i++){
							
								li_width = li_width + li_list[i].scrollWidth;
							}
							var con_width = $("#content-tab").width();
							if(con_width < li_width){
						
								var temp = li_width - con_width;
							
								if(temp<0){
							
									return false;
								}else{
									var hide_count = Math.ceil(temp/70);
									var i=0;
									var hide_li = $("[data-name=item]");
									if(hide_li.length < 0){return false;}
									while(i < hide_count){
								
										hide_li[i].style.display = "none";
										i++;
									}
									return ;
								}						
						
							}
						
						}
						$('[data-name="before"]').on("click",function (){
						var li_list = $("#content-tab").children();
							
							
							
							if(li_list.length==0){return false;}
							var li_width=0;
							for(var i = 0; i<li_list.length; i++){
							
								li_width = li_width + li_list[i].scrollWidth;
							}
							var con_width = $("#content-tab").width();
							if(con_width < li_width){
							var i=0,a=0;
							var hide_li = $("[data-name=item]");
							if(hide_li < 0){return false;}
							while(i<2){
							
							if(hide_li[a].style.display == "none"){
							a++;
							if(a>hide_li.length){break;}
							continue;
							}else{
							hide_li[a].style.display == "inline"
							i++;
							}
							
							}
							
							}
							
						
						});
						$('[data-name="next"]').on("click",function (){
							
							var li_list = $("#content-tab").children();
							if(li_list.length==0){return false;}
							var li_width=0;
							for(var i = 0; i<li_list.length; i++){
							
								li_width = li_width + li_list[i].scrollWidth;
							}
							var con_width = $("#content-tab").width;
							if(con_width < li_width){
							var i=0,a=0;
							var hide_li = $("[data-name=item]");
							a = hide_li;
							if(hide_li.length < 0){return false;}
							while(i<2){
							
							if(hide_li[a].style.display == "none"){
							hide_li[a].style.display == "inline";
							i++;
							}else{
							a--;
							if(a<1){break;}
							continue;						
							}
							
							}
							
							}
						
						});						
						
						
						
						})(window.jQuery);
					
					
					</script>

					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						<!-- #section:settings.box -->
						<div class="ace-settings-container" id="ace-settings-container">
							<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
								<i class="ace-icon fa fa-cog bigger-130"></i>
							</div>

							<div class="ace-settings-box clearfix" id="ace-settings-box">
								<div class="pull-left width-50">
									<!-- #section:settings.skins -->
									<div class="ace-settings-item">
										<div class="pull-left">
											<select id="skin-colorpicker" class="hide">
												<option data-skin="no-skin" value="#438EB9">#438EB9</option>
												<option data-skin="skin-1" value="#222A2D">#222A2D</option>
												<option data-skin="skin-2" value="#C6487E">#C6487E</option>
												<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
											</select>
										</div>
										<span>&nbsp; Choose Skin</span>
									</div>

									<!-- /section:settings.skins -->

									<!-- #section:settings.navbar -->
									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
										<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
									</div>

									<!-- /section:settings.navbar -->

									<!-- #section:settings.sidebar -->
									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
										<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
									</div>

									<!-- /section:settings.sidebar -->

									<!-- #section:settings.breadcrumbs -->
									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
										<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
									</div>

									<!-- /section:settings.breadcrumbs -->

									<!-- #section:settings.rtl -->
									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
										<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
									</div>

									<!-- /section:settings.rtl -->

									<!-- #section:settings.container -->
									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
										<label class="lbl" for="ace-settings-add-container">
											Inside
											<b>.container</b>
										</label>
									</div>

									<!-- /section:settings.container -->
								</div><!-- /.pull-left -->

								<div class="pull-left width-50">
									<!-- #section:basics/sidebar.options -->
									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
										<label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
										<label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
										<label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
									</div>

									<!-- /section:basics/sidebar.options -->
								</div><!-- /.pull-left -->
							</div><!-- /.ace-settings-box -->
						</div><!-- /.ace-settings-container -->

						<!-- /section:settings.box -->
						<div class="page-content-area" data-ajax-content="true">
							<!-- ajax content goes here -->
						</div><!-- /.page-content-area -->
						 <div id="tab_content" class="tab-content" style="border:0px;">
						 
							
						 </div>						
						
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->	

	
{include file="public\foot" /}
{include file="public\footer" /}